@use '../lib/colors.scss' as colors;

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 1rem;
    width: 100%;
    border-bottom: 1px solid colors.$primary-300;
}

.titleWrapper {
    display: flex;
    align-items: flex-end;
}

.hello {
    color: colors.$primary-500;
    margin-left: 1rem;
}

