.container {
    display: flex;
    align-items: flex-end;
}

.with {
    padding: 0rem .25rem;
    font-size: 1.2rem;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    img {
        width: 34px;
        transform: translateY(4px);
    }
}
